In [2]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
url = 'https://carsalesbase.com/us-acura/'
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

In [4]:
import pandas as pd
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
pd.read_html(html)[0]

,0,1,2,3,4,5
0,NaN,Acura All Models 2016,Acura All Models 2017,Acura All Models 2018,Acura All Models 2019,Acura All Models 2020
1,January,10.250,9.202,8.908,9.764,9.230
2,February,12.773,10.864,10.969,12.213,NaN
3,March,14.852,11.696,13.537,14.408,NaN
4,April,16.206,14.132,11.888,11.687,NaN
5,May,13.561,13.939,12.819,13.547,NaN
6,June,11.352,14.038,14.532,12.148,NaN
7,July,13.674,14.177,13.247,12.759,NaN
8,August,14.246,13.132,15.072,15.189,NaN
9,September,12.813,12.946,13.511,11.098,NaN
10,October,12.869,12.698,13.624,13.957,NaN
11,November,11.616,12.716,14.053,14.482,NaN
12,December,17.148,15.062,16.774,16.133,NaN